@font-face {
  font-family: "ztwx";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  
  src: url("./ztwx.woff2?name=1583232013757") format("woff2"), url("./ztwx.woff?name=1583232013757") format("woff"); 
}

.za {
  display: inline-block;
  font-family: "ztwx";
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.za-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}

.za-xs {
  font-size: 0.75em;
}

.za-sm {
  font-size: 0.875em;
}

.za-1x {
  font-size: 1em;
}

.za-2x {
  font-size: 2em;
}

.za-3x {
  font-size: 3em;
}

.za-4x {
  font-size: 4em;
}

.za-5x {
  font-size: 5em;
}

.za-6x {
  font-size: 6em;
}

.za-7x {
  font-size: 7em;
}

.za-8x {
  font-size: 8em;
}

.za-9x {
  font-size: 9em;
}

.za-10x {
  font-size: 10em;
}

.za-fw {
  text-align: center;
  width: 1.25em;
}

.za-border {
  border: solid 0.08em #eee;
  border-radius: 0.1em;
  padding: 0.2em 0.25em 0.15em;
}

.za-pull-left {
  float: left;
}

.za-pull-right {
  float: right;
}

.za.za-pull-left {
  margin-right: 0.3em;
}

.za.za-pull-right {
  margin-left: 0.3em;
}


.za-account::before {
  content: "\ea01";
}

.za-back::before {
  content: "\ea02";
}

.za-left::before {
  content: "\ea03";
}

.za-left-caret::before {
  content: "\ea04";
}

.za-return::before {
  content: "\ea05";
}

.za-return-1::before {
  content: "\ea06";
}

.za-right::before {
  content: "\ea07";
}

.za-user::before {
  content: "\ea08";
}

