@import "~@condyyobeta/fire-ui/public/css/cmNzx.css";
$fire-header-bg:$--color-header;
$--ice-header-h:$--header-height;
$shadow-color:$--color-font-beauty;
$color-primary:$--color-main;
$card-max-w:$--card-max-w;
$card-min-w:$--card-min-w;
$use-radius:$--radius-use;
$base-radius:$--radius-base;
$line-bg:$--color-bg;
$--ice-nav-line-p:.9rem .5rem;


.cm-content-card,.cm-search-card{
  background:$--color-bg;
}
