<main>
    <nav class="cm-search-card">
        <Row>
            <Cell><Label>经销商售后代码</Label><Value><el-input></el-input></Value></Cell>
            <Cell><Label>销售组织</Label><Value><el-input></el-input></Value></Cell>
            <Cell><Label>销售组</Label><Value><el-input></el-input></Value></Cell>
        </Row>
        <Row>
            <Cell><Label>xx</Label><Value><el-input></el-input></Value></Cell>
            <Cell><Label>xx</Label><Value><el-input></el-input></Value></Cell>
            <Cell><Label>xx</Label><Value><el-input></el-input></Value></Cell>
        </Row>
<!--        <Row>-->
<!--            <Cell><Label>xx</Label><Value><el-input></el-input></Value></Cell>-->
<!--            <Cell p="2"><Label>xx</Label><Value><el-input></el-input></Value></Cell>-->
<!--        </Row>-->

<!--        <Row>-->
<!--            <Cell p="3"><Label>xx</Label><Value><el-input></el-input></Value></Cell>-->
<!--            <Cell p="2"><Label>xx</Label><Value><el-input></el-input></Value></Cell>-->
<!--        </Row>-->
<!--        <Row>-->
<!--            <Cell p="4"><Label>xx</Label><Value><el-input></el-input></Value></Cell>-->
<!--            <Cell p="2"><Label>xx</Label><Value><el-input></el-input></Value></Cell>-->
<!--        </Row>-->
<!--        aside-->
        <Aside pos="center" class="text-center">
            <ice-button color="primary" >请求</ice-button>
            <ice-button pure>取消</ice-button>
            <ice-button outline>重置</ice-button>
        </Aside>
    </nav>
    <article class="cm-content-card">
        <Table
          :data="tableData"
          :total="total"
          :pageChange="handlePageChange"
          :loading="tableLoading"
        >
            <el-table-column
              fixed
              prop="date"
              label="日期"
              width="150">
            </el-table-column>
            <el-table-column
              prop="name"
              label="姓名"
              width="120">
            </el-table-column>
            <el-table-column
              prop="province"
              label="省份"
              width="120">
            </el-table-column>
            <el-table-column
              prop="city"
              label="市区"
              width="120">
            </el-table-column>
            <el-table-column
              prop="address"
              label="地址"
              width="300">
            </el-table-column>
            <el-table-column
              prop="zip"
              label="邮编"
              width="120">
            </el-table-column>
            <el-table-column
              fixed="right"
              label="操作"
              width="100">
              <template slot-scope="scope">
                <el-button @click="handleClick(scope.row)" type="text" size="small">查看</el-button>
                <el-button type="text" size="small">编辑</el-button>
              </template>
            </el-table-column>
        </Table>
    </article>
</main>
